_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
sftp-config.json
.jekyll-cache

# assets/**/orig/

cameraroll/
# deck-dungeon/
# draw/

data/lastfm.json
data/mastodon.json
data/pinboard.json
