---
layout: default
---

<style type="text/css">
  .err {
    background: #eee;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    border-radius: 12px;
  }
  ul {
    list-style: none;
  }
  li::before {
    content: '→';
    font-size: 0.8em;
    margin-right: 0.75em;
  }
  p {
    margin: 0.1em auto;
  }

</style>

<main class="w-slim">
  {% include header.html %}


  <div class="err">
    <h1 class="color-01">404</h1>
    <p>sorry! looks like this page doesn't exist</p>
    <p>why not try some of these?</p>
    <ul class="no-indent">
    {% assign projects = site.projects | reverse %}
    {% for entry in projects limit: 20 %}
    {% if entry.archive %}
      <li class="archive-entry">
        <a href="{{ site.github.url }}{{ entry.url }}">{{ entry.title }}</a> <a class="date" href="/projects/#y:{{ entry.date | date:'%Y' }}">{{ entry.date | date:'%Y' }}</a>
      </li>
    {% endif %}
    {% endfor %}
    </ul>

  </div>

  {% include footer.html %}
</main>
