<footer>
  <ul class="inline no-indent">
    <li><a href="/projects">projects</a> 💖</li>
    <li><a href="/posts">posts</a> ✨ </li>
    <li><a href="http://webring.xxiivv.com/">XXIIVV webring</a> <img alt="XXIIVV Webring logo" class="webring" src='/assets/img/other/icon.black.svg'/></li>
    <li><img alt="i love the internet" src="/assets/img/other/i-love-the-internet.png"></li>
    <li><a href="https://github.com/nathanwentworth/nathanwentworth/commits/master">updated: {{ site.time | date: '%Y-%m-%d' }}</a></li>
  </ul>
</footer>