<header>
  <nav>
    <a href="/" class="title">{{ site.title }}</a>
    {% for link in site.links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    <span>{{ site.kaomoji | sample }}</span>
    theme:
    <select id="theme-picker">
      <option value="pink">pink</option>
      <option value="midnight">midnight</option>
      <option value="forest">forest</option>
      <option value="tumblr">tumblr</option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
    </select>
  </nav>
</header>

