<head>
  <title>nathan wentworth{% if page.title %} — {{ page.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta name="author" content="Nathan Wentworth">
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% else %}Unity, C#, javascript, html, css, web design, web development{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="theme-color" content="#FF8D73">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
