<header>
  <nav>
    <a href="/" class="title">nathan wentworth <img class="emoji" src="/assets/img/softbank-emoji-2004/sparkles_2728.gif"></a>
    {% for link in site.links %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    <span>{{ site.kaomoji | sample }}</span>
    <!-- theme: -->
    <select id="theme-picker">
      <option value="pink">pink</option>
      <option value="midnight">midnight</option>
      <option value="forest">forest</option>
      <option value="tumblr">tumblr</option>
      <option value="paper">paper</option>
      <option value=""></option>
      <option value=""></option>
    </select>
  </nav>
</header>

