<div class="mastodon">
  <ul class="no-indent no-arrow">
    {% for toot in site.data.mastodon.orderedItems | limit: 5 %}
    <li class="toot">{{ toot.object.content }}
      {% if toot.object.attachment %}
      <div class="images">
        {% for image in toot.object.attachment %}
        {% if image.mediaType contains "image" %}
        <a href="{{ image.url }}" title="photo">📷</a>
        {% elsif image.mediaType contains "video" %}
        <a href="{{ image.url }}" title="video">📹</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <a class="smaller" href="{{ toot.object.id }}">(view)</a></li>
    {% endfor %}
    <li><a href="https://mastodon.social/@nathanwentworth">view more on mastodon</a></li>
  </ul>
</div>