{% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}


<div class="mastodon">
  <ul class="no-indent no-arrow">
    {% assign posts = site.data.mastodon.orderedItems | where: 'object.inReplyTo', null %}
    {% for toot in posts | limit: 10 %}
    <li class="toot">{{ toot.object.content }}
      {% if toot.object.attachment %}
      <div class="images">
        {% for image in toot.object.attachment %}
        {% if image.mediaType contains "image" %}
        <a href="{{ image.url }}" title="photo">📷</a>
        {% elsif image.mediaType contains "video" %}
        <a href="{{ image.url }}" title="video">📹</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {% capture posttime %}{{ toot.object.published | date: '%s' }}{% endcapture %}
      {% assign postNum = posttime | minus: 0 %}
      {% assign diff = nowunix | minus: postNum %}
      <a class="smaller" href="{{ toot.object.id }}">{{ diff | divided_by: 86400 | round }}d</a></li>
    {% endfor %}
    <li><a href="https://mastodon.social/@nathanwentworth">view more on mastodon →</a></li>
  </ul>
</div>