{% if include.limit %}
  {% assign limit_of_recs = {{include.limit}} %}
{% else %}
  {% assign limit_of_recs = 999999999 %}
{% endif %}

<div class="recommendations">
  {% assign sorted = site.data.recommendations | sort: 'date' | reverse %}
  {% assign first = sorted[0] %}
  {% assign date = '' %}
  {% for recommendation in sorted limit: {{limit_of_recs}} %}
    {% assign currentdate = recommendation.date | date: '%Y-%m-%d' %}
    {% assign currentyear = recommendation.date | date: '%Y-' %}
    {% assign currentmd = recommendation.date | date: '%m-%d' %}
    {% if currentdate != date %}
      {% if first != recommendation %}
      </ul>
      </div>
      {% endif %}
      <div class="recommendation-outer">
      <date id="y{{currentdate}}" class="recommendation-date"><span class="year">{{ currentyear }}</span><span class="month-day">{{ currentmd }}</span></date>
      {% assign date = currentdate %}
      <ul class="recommendation-main">
    {% endif %}
    <li class="recommendation-body">
      <div class="tag tag--{{ recommendation.type }}">{{ recommendation.type }}</div><div class="recommendation-text">{% if recommendation.best %}<img class="emoji" src="/assets/img/softbank-emoji-2004/glowing-star_1f31f.gif"> {% endif %}<a href="{{ recommendation.link }}">{% if recommendation.name %}{{ recommendation.name }}{% else %}{{ recommendation.link }}{% endif %}</a>{% if recommendation.desc %}<div>{{ recommendation.desc | markdownify | remove: '<p>' | remove: '</p>' }}</div>{%endif%}</div>
    </li>
  {% endfor %}
  </ul>
</div>
</div>
