{% assign data = site.data[include.data] %}
{% assign first = data[0] %}

<div class="table">
  <table>
    <thead>
    {% for row in data %}
      {% if first == row %}
        {% for cell in row %}
        <th>{{ cell[0] }}</th>
        {% endfor %}
      </thead>
      <tbody>
      {% endif %}
      <tr>
        {% for cell in row %}
        {% if cell[0] == "url" %}
        <td><a href="{{ cell[1] }}">link</a></td>
        {% else %}
        <td>{{ cell[1] }}</td>
        {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>