
.about {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  min-height: 100vh;

  div {
    width: 100%;
  }
  div p {
    width: 90%;
    margin: 16px auto;
  }

  .right ul, .right h1, .right h2, .right h3, .right h4 {
    width: 90%;
    // max-width: 400px;
    margin: auto;
  }
  .left img {
    width: 90%;
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 3px;
  }
  h1.name {
    /* position: absolute;*/
    line-height: 100%;
    bottom: 3em;
    font-size: 2.5em;
    background: #fff;
    padding: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
  }
  .center {
    text-align: center;
  }

  }

@media only screen and (min-width: 900px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    div {
      width: 50%;
    }
    div p:nth-child(2) {
      margin-top: 0;
    }
    .left img {
      max-width: 90%;
      display: block;
      margin-left: auto;
      margin-right: 32px;
    }
  }

  h1.name {
    text-align: center;
    position: relative;
    top: 0;
    /* right: -6em;*/
    font-size: 3em;
    width: 100%;
  }

}