body.about {
  // background-image: url('/assets/patterns/pattern-02.png');
}

.about {

  .main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
  }

  .main-container div {
    width: 100%;
  }
  .main-container div p {
    width: 90%;
    margin: 16px auto;
  }

  .main-container .right ul, .main-container .right h3 {
    width: 90%;
    max-width: 400px;
    margin: auto;
  }
  .main-container div p:nth-child(2) {
    margin-top: -3rem;
  }
  .main-container div img {
    width: 90%;
    max-width: 400px;
    display: block;
    margin: auto;
  }
  h1.name {
    position: relative;
    line-height: 100%;
    bottom: 3em;
    font-size: 3em;
  }
  .center {
    text-align: center;
  }

  @media only screen and (min-width: 900px) {
    .main-container div p:nth-child(2) {
      margin-top: 0;
    }
    .main-container {
      flex-direction: row;
    }
    .main-container div {
      width: 50%;
    }
    .main-container div img {
      max-width: 90%;
      display: block;
      margin-left: auto;
      margin-right: 32px;
    }
    h1.name {
      position: relative;
      top: 0;
      left: -6em;
      font-size: 3em;
      width: 100%;
    }
  }


}