.archive-title {
    padding: 1rem;
    background-color: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
    }
}

.project-description {
  margin: 0;
  padding: 1rem;
  background: #e6e6e6;
  border-radius: $border-radius;
  margin-top: 1rem;
  border: 0;
  border-left: $border-radius solid #dbdbdb;
  line-height: 1.4;
}


.archive {
  background: $bg-dark;
  border-radius: $border-radius;
  padding-bottom: 2rem;

  .list {
    padding: 1rem;
    padding-bottom: 0;
  }

  a.exturl::after {
    content: '↗';
    font-size: 0.65em;
    vertical-align: top;
    margin-left: 0.5em;
  }


  .list > ul {
    max-width: 100%;
    color: $light-text;
    list-style: none;
    margin: 0;
  }
  .entry {
    margin-bottom: 2rem;
  }
  .entry:last-child {
    margin-bottom: 0;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;

    h3 {
      margin: 0;
    }
  }

  form {
    .filter-input {
      max-width: 80%;
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .filter-submit {
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @media only screen and (max-width: 549px) {
    .archive-title {
      flex-direction: column;
    }
  }


  .nothing-found {
    padding-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .clear-filter {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

