.archive-title {
    padding: 1rem;
    background-color: $bg-dark;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
    }
}

.project-description {
  margin: 0;
  padding: 1rem;
  background: var(--transparent-bg);
  border-radius: var(--border-radius);
  margin-top: 1rem;
  border: 0;
  line-height: 1.4;
}


.archive {
  padding-bottom: 2rem;
  /*box-shadow: -10px 10px 0 0 #ffc;*/

  & > ul {
    padding: 1rem 0;
    padding-bottom: 0;
    color: var(--light-text);
    list-style: none;
    margin: 0;

  }

  .entry + .entry {
    margin-top: 2rem;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    * {
      margin: 0;
    }
  }

  .filter-input {
    max-width: 80%;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #000;
  }
  .filter-submit {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media only screen and (max-width: 549px) {
    .info-upper {
      flex-direction: column;
    }
  }


  .nothing-found {
    padding-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .clear-filter {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }


}

