body {
  background-color: $bg-color-dark;
}

h1, h2, h3, h4, h5, .title {
  color: #fcb;
}

a,
body,
.recommendation-date,
.project-description {
  color: $text-color-dark;
}

.lower,
footer,
.content-container,
.pagination-link {
  background-color: $bg-mid-dark;
  border-color: $bg-dark-dark;
}

.info,
.pagination-link:hover,
.project-description {
  background-color: $bg-dark-dark;
}

.header-bg {
  background-color: $bg-header-dark;
}

.tag {
  color: $bg-color-dark;
}