
.columns {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.columns.left-big {
  grid-template-columns: 2fr 1fr;
}
.columns.right-big {
  grid-template-columns: 1fr 2fr;
}

.columns {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.columns .portrait {
  width: 85%;
  margin-top: 4.25rem;
  border-radius: 3px;
}
.columns .page-title {
  margin-top: 2rem;

  img {
    vertical-align: bottom;
  }
}
.columns .page-title:first-of-type {
  margin-top: 0;
}
.columns ul {
  margin-bottom: 0;
  list-style: none;
}

.home .columns ul li::before {
  content: '→';
  font-size: 0.8em;
  margin-right: 0.75em;
}


.archive-entry .date {
  margin-left: 0.75em;
  font-size: 0.85em;
  text-decoration: none;
  border-bottom: none;
}

.selected {
  background-color: darken($bg-color, 5%) !important;
}

.hidden {
  display: none;
  visibility: none;
  opacity: 0;
}


@media only screen and (min-width: 880px) {

}

@media (prefers-reduced-motion: reduce) {
  .project-item:hover .image,
  .main-links:focus .image {
    -webkit-transform: none;
            transform: none;
  }
}
