

.project-item {
  /*background: #fff;*/
  /*border-radius: $border-radius;*/
}

.project-item .main-links {
  border-bottom: none;
  text-decoration: none;
  display: block;
}

.project-item .image {
  border-radius: 6px;
  /*background-size: cover;*/
  /*background-position: center center;*/
  width: 100%;
  /*padding-bottom: 75%;*/
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  box-shadow: 0px 6px 12px -5px rgba(50, 50, 50, 0.5);
  /*box-shadow: -6px 6px 0px -0px #ffc;*/
}

.bg-yellow { background-color: #ffc; }
.bg-peach { background-color: #fcc; }
.bg-green { background-color: #cfc; }
.bg-purple { background-color: #ccf; }

.project-item:hover .image,
.main-links:focus .image {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.project-item .title {
  font-size: 1.25rem;
  margin: 0.6em 0;
}

.projects {
  list-style: none;
  padding-left: 0;
  /*background: #f1f2f3;*/
  /*border-radius: $border-radius;*/
}

.projects .project-item::before {
  display: none;
}

.columns {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.lower {
  background: $bg-mid;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}
.lower .page-title {
  margin-top: 2rem;
}
.lower .page-title:first-of-type {
  margin-top: 0;
}
.lower ul {
  margin-bottom: 0;
  list-style: none;
}

.columns .column-item {
  vertical-align: top;
  width: calc(100% - 8px);
  -ms-flex-preferred-size: calc(100% - 8px);
      flex-basis: calc(100% - 8px);
  margin: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.home-portrait {
  border-radius: $border-radius;
  width: 50%;
}

.home .columns li::before {
  content: '→';
  font-size: 0.8em;
  margin-right: 0.75em;
}

.archive-entry .date {
  margin-left: 0.75em;
  font-size: 0.85em;
  text-decoration: none;
  border-bottom: none;
}

.selected {
  background-color: darken($bg-color, 5%) !important;
}

.hidden {
  display: none;
  visibility: none;
  opacity: 0;
}

@media only screen and (min-width: 440px) {
  .columns {
    flex-direction: row;
  }

  .columns .column-item {
    width: calc(50% - 16px);
    -ms-flex-basis: calc(50% - 16px);
        -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media only screen and (min-width: 880px) {
  .columns .column-item {
    width: calc((100% / 3) - 16px);
    -ms-flex-basis: calc((100% / 3) - 16px);
        -ms-flex-preferred-size: calc((100% / 3) - 16px);
        flex-basis: calc((100% / 3) - 16px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .columns .column-item-50 {
    width: calc(50% - 16px);
    -ms-flex-basis: calc(50% - 16px);
        -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .columns .column-item-66 {
    width: calc((100% * (2 / 3)) - 16px);
    -ms-flex-basis: calc((100% * (2 / 3)) - 16px);
        -ms-flex-preferred-size: calc((100% * (2 / 3)) - 16px);
        flex-basis: calc((100% * (2 / 3)) - 16px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }


}

@media only screen and (max-width: 880px) {
  header ul {
    padding-left: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .project-item:hover .image,
  .main-links:focus .image {
    -webkit-transform: none;
            transform: none;
  }
}


@-webkit-keyframes colorcycle {
  0% {
    color: $blue;
  }
  50% {
    color: $pink;
  }
  100% {
    color: $blue;
  }
}

@keyframes colorcycle {
  0% {
    color: $blue;
  }
  50% {
    color: $pink;
  }
  100% {
    color: $blue;
  }
}
