* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection { background-color: #f1f211; text-shadow: none;}
::selection { background-color: #f1f211; text-shadow: none;}

pre ::-moz-selection { background-color: #4E5A65; }
pre ::selection { background-color: #4E5A65; }

body {
  background-color: $bg-color;
  color: $text-color;
  /*font-family: 'Nunito', sans-serif;*/
  font-family: 'Rubik', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
  margin: 0;
}

p {
  line-height: 1.4;
  margin-top: 0.75rem;
}

img { max-width: 100%; }

.center { text-align: center; }

main {
  max-width: $w-wide;
  width: 90%;
  margin: auto;
}
main.w-slim {
  max-width: $w-slim;
}
main.w-mid {
  max-width: $w-mid;
}
main.w-wide {
  max-width: $w-wide;
}

.color-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 1rem;
}
.include-color {
  height: 100%;
  width: 100%;
  flex: 1;
  padding-bottom: 20%;
  position: relative;

  .color-info {
    text-transform: uppercase;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: #f1f2f3;
    padding: 0.5rem;
    border-radius: #{$border-radius / 2};
  }
}

code {
  font-family: monaco, menlo, 'Consolas', monospace;
  font-size: 0.85rem;
  background-color: #343D46;
  color: #D8DEE9;
  padding: 0.1em;
  border-radius: 0.25em;
}

button {
  background: #d4d4d4;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 0.8rem;
}

input[type="text"] {
  background: #d6d6d6;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 1rem;
  transition: background 0.2s;
}

input[type="text"]:focus {
  background: #DDDDDD;
}

input[type="submit"],
button {
  -webkit-appearance: none;
  background: #CCCCCC;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 1rem;
  transition: background 0.2s;
}

input[type="submit"]:focus,
button {
  background: #DDDDDD;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  margin-right: 0.1rem;
  background-color: #ccc;
  border-radius: 4px;
  text-decoration: none;
}



blockquote {
  border-left: 2px solid $light-text;
  margin-left: 0;
  padding-left: 1rem;
}

blockquote *:first-child {
  margin-top: 0;
}

.main-container { margin: 8px; }
.outer-container { margin-bottom: 2rem; }

a {
  /*border-bottom: 1px solid $blue;*/
  /*text-decoration: none;*/
  /*font-weight: bold;*/
}

a:link, a:visited {
  color: $text-color;
}

a:hover, a:active, a:focus {
  color: #f55;
}
/*a:hover, a:active, a:focus {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: colorcycle;
          animation-name: colorcycle;
  text-decoration: underline;
}
*/
h1, h2, h3 { letter-spacing: 0.02em; word-spacing: 0.01em; }
h1 { font-size: 1.9rem; margin-bottom: 0.75em; }
h2 { font-size: 1.4rem; margin-bottom: 0.6em; }
h3 { margin-bottom: 0.5em; }
ul, ol { padding-left: 1.5rem; }
ul.no-indent, ol.no-indent { padding-left: 0; }
/*ul ul, ol ol, .project ul, .project ol {  }*/
li { margin: 6px 0; }
p { width: 100%; letter-spacing: 0.015em; word-spacing: 0.001em; }

hr {
  margin: 2rem 0.5rem;
  height: 3px;
  border-radius: 1.5px;
  border: none;
  background-image: linear-gradient(to right, $blue, $pink);
}

hr.small {
  margin: 2rem auto;
  height: 1px;
  border-radius: 1.5px;
  max-width: 420px;
  border: none;
  background-image: none;
  background-color: $blue;
}

header {
  margin: 8px;
  margin-top: 1.5rem;
  vertical-align: bottom;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
header a {
  text-decoration: none;
}

header, header a:link, header a:visited {
  color: #fff;
}

header a:hover, header a:active, header a:focus {
  border-bottom-color: #fff;
  -webkit-animation: none;
          animation: none;
}

header .title, header nav {
  display: inline-block;
  margin: 0.5rem 0;
  vertical-align: bottom;
}

header.small {
  padding: 1rem;
  margin-bottom: 1.75rem;
  border-radius: $border-radius;
  background-color: #FF83C5;
}
/*header.small,
header.small a:link,
header.small a:visited {
  color: #3D3D3D;
  font-size: 1.1rem;
  text-shadow: none;
}

*/
.header-bg-container {
  width: 100%;
  overflow: hidden;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.header-bg {
  background: -webkit-gradient(linear, left top, right top, from($blue), to($pink));
  background: linear-gradient(to right, $blue, $pink);
  width: calc(100% + 128px);
  height: 300px;
  position: absolute;
  top: -100px;
  left: -64px;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  z-index: -100;
}

header nav {
  padding-left: 16px;
}

header nav a {
  margin: 0 4px;
  display: inline;

  &:first-of-type {
    // margin-left: 0;
  }
}

footer {
  padding: 1rem;
  margin-bottom: 1.75rem;
  border-radius: $border-radius;
  /*background-color: #F6D6F7;*/
  background-color: #B5C0FF;
}

footer div {
  display: inline-block;
  vertical-align: top;
}

footer div:first-child {
  margin-right: 2rem;
}

.webring {
  max-height: 1.1rem;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 549px) {
  footer div {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 550px) {
  footer div:last-child {
    float: right;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.bigger { font-size: 1.25em; }

.category-title {
  color: #fff;
  text-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,0.2);
  margin-left: 0.5rem;
}

.red { color: #f55 !important; }
.blue { color: #55f !important; }
.purple { color: #6528DD !important; }

.no-scroll {
  overflow-y: hidden;
}

/* ~~~~~~~~ Lightbox ~~~~~~~~~ */
.lightbox {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222324;
  display: block;
  visibility: visible;
  cursor: zoom-out;
}

.lightbox img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 98vw;
  max-height: 98vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.lightbox-hidden {
  display: none;
  visibility: hidden;
}

