section.photos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.photo-container {

  width: calc(50% - 2rem);
  margin-bottom: 2rem;

  &:nth-of-type(2n) {
    margin-left: auto;
    margin-right: 1rem;
  }
  &:nth-of-type(2n - 1) {
    margin-right: auto;
    margin-left: 1rem;
  }
}