.project {

  .content {
    img,
    div.highlighter-rouge,
    .color-container {
      max-width: calc(100% + 4rem);
      margin-left: -2rem;
      border-radius: #{$border-radius / 2};
    }
    div.highlighter-rouge,
    .color-container,
    .color-container {
      width: calc(100% + 4rem);
    }
  }

  img { display: block; }

  .content { padding: 1rem; }
  .content p { margin-bottom: 1.35rem; }
  .content img + img { margin-top: 1.35rem; }
  .content > *:first-child { margin-top: 0; }
  .content > *:last-child { margin-bottom: 0; }

  .info {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: #e6e6e6;
    padding: 1rem;
  }
  .main-image {
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .main-image + .info {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  pre.highlight {
    background-color: #343D46;
    color: #D8DEE9;
    padding: 1rem;
    border-radius: #{$border-radius / 2};
    white-space: pre-wrap;
  }

  pre.highlight code {
    padding: 0;
    border-radius: 0;
  }

  code {
    background-color: #343D46;
    color: #D8DEE9;
    padding: 0.2em;
    border-radius: 6px;
  }

  @media only screen and (max-width: 549px) {
    .project .content {
      padding: 0.8rem;
    }
    .content img,
    .content div.highlighter-rouge,
    .color-container {
      max-width: calc(100% + 2rem);
      margin-left: -1rem;
      border-radius: #{$border-radius / 2};
    }
    .content div.highlighter-rouge,
    .color-container {
      width: calc(100% + 3rem);
    }
  }
}

.js .content img {
  cursor: zoom-in;
}