.project {

  .content-container {
    /*box-shadow: -10px 10px 0 0 #ffc;*/
  }

  .content {
    p img,
    .color-container {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
    div.highlighter-rouge,
    .color-container,
    .color-container,
    .highlight {
      width: 100%;
    }
  }

  img { display: block; }

  .content img + img { margin-top: 1.35rem; }
  .content > *:first-child { margin-top: 0; }
  .content > *:last-child,
  .content > div.highlighter-rouge:last-child,
  .content > *:last-child * { margin-bottom: 0; }

  .main-image {
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }

  .main-image + .info {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  pre.highlight {
    background-color: #343D46;
    color: #D8DEE9;
    padding: 1rem;
    white-space: pre-wrap;
  }

  pre.highlight code {
    padding: 0;
    border-radius: 0;
  }

  code {
    background-color: #343D46;
    color: #D8DEE9;
    padding: 0.2em;
    border-radius: 6px;
  }

  @media only screen and (max-width: 549px) {
    .project .content {
      /*padding: 0.8rem;*/
    }
  }
}

.js .content img {
  cursor: zoom-in;
}