/* Tag colors */

/*javascript: #f1e05a, cli: #222, css: #563d7c, html: #e44b23, php: #4F5D95, electron: #2F3241, angular: #DD1B16, node: #026E00, express: #EEEEEE, c-sharp: #178600, unity: #00BCD4, maya: #00AAAA, python: #3572A5, tumblr: #36465D,

$c: (javascript: #f1e05a, cli: #222, css: #563d7c, html: #e44b23, php: #4F5D95, electron: #2F3241, angular: #DD1B16, node: #026E00, express: #EEEEEE, c-sharp: #178600, unity: #00BCD4, maya: #00AAAA, python: #3572A5, tumblr: #36465D)

*/

.tag-yellow:link { border-left-color: #ff5; }
a.tag-yellow:link { background-color: #ff5; }
a.tag-yellow:hover { color: #555; }


.tag-purple:link { border-left-color: #6528DD; }
a.tag-purple:link { background-color: #6528DD; color: #fff; }
a.tag-purple:hover { color: #ccc; }

.tag--music { background-color: #ff7; }
.tag--music { background-color: #fbb; }
.tag--video { background-color: #ccf; }
