/* Tag colors */

/*javascript: #f1e05a, cli: #222, css: #563d7c, html: #e44b23, php: #4F5D95, electron: #2F3241, angular: #DD1B16, node: #026E00, express: #EEEEEE, c-sharp: #178600, unity: #00BCD4, maya: #00AAAA, python: #3572A5, tumblr: #36465D,

$c: (javascript: #f1e05a, cli: #222, css: #563d7c, html: #e44b23, php: #4F5D95, electron: #2F3241, angular: #DD1B16, node: #026E00, express: #EEEEEE, c-sharp: #178600, unity: #00BCD4, maya: #00AAAA, python: #3572A5, tumblr: #36465D)

*/

a.tag-yellow { background-color: #ff5 !important; color: #222; }
a.tag-yellow:hover { color: #555; }


a.tag-purple { background-color: #6528DD; color: #fff; }
a.tag-purple:hover { color: #ccc; }

/* recommendations */
.tag--music { background-color: #fbb; color: #222; } /* reddish */
.tag--video { background-color: #ccf; color: #222; } /* blue/purple */
.tag--movie { background-color: #cdf; color: #222; } /* blue/purple */
.tag--tv { background-color: #dcf; color: #222; } /* light purple/violet */
/*.tag--tv { background-color: #fd4; color: #222; } /* orange */
.tag--text { background-color: #ff7; color: #222; } /* yellow */
.tag--web { background-color: #cfc; color: #222; } /* bright green */
