---
layout: default
---
<main class="w-slim">
{% include header.html %}

  <div class="archive outer-container">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="list">
      {% assign posts = site[page.collection] | sort: 'date' %}
      {% for entry in posts reversed %}
        {% assign currentdate = entry.date | date: "%Y" %}
        {% if currentdate != date %}
          {% unless forloop.first %}</ul>{% endunless %}
          <h2 class="section-title"><a href="#{{entry.date | date: "%Y"}}" id="{{entry.date | date: "%Y"}}">{{ currentdate }}</a></h2>
          <ul>
          {% assign date = currentdate %}
        {% endif %}
          <li>
            <h3><a class="title{% if entry.exturl %} exturl{% endif %}" href="{% if entry.exturl %}{{ entry.exturl }}{% else %}{{ site.github.url }}{{ entry.url }}{% endif %}">{{ entry.title }}</a></h3>
            <blockquote>{{ entry.excerpt | remove: '<p>' | remove: '</p>'  }}</blockquote>
          </li>
        {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
  </div>


{% include footer.html %}
</main>