---
layout: default
---

<div class="main-container project archive">
  <h1 class="page-title">{{ page.title }}</h1>
  {% for entry in site[page.collection] reversed %}
    {% assign currentdate = entry.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 id="{{entry.date | date: "%Y"}}" class="section-title"><a href="#{{entry.date | date: "%Y"}}">{{ currentdate }}</a></h3>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
      <li>
        <a class="title" href="{% if entry.exturl %}{{ entry.exturl }}{% else %}{{ site.github.url }}{{ entry.url }}{% endif %}">{{ entry.title }}{% if entry.exturl %} ↗︎{% endif %}</a>
        <blockquote>{{ entry.excerpt | remove: '<p>' | remove: '</p>'  }}</blockquote>
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>