---
layout: default
---
<div class="projects">
  {% for post in site.posts %}
    <div class="project-item" data-type="{{ post.type | join:' ' }}" data-tags="{{ post.tags | join:' ' }}">
      <a class="main-links" href="{% if post.exturl %}{{ post.exturl }}{% else %}{{ post.url }}{% endif %}">
        {% if post.image %}
          {% if post.image contains '.jpg' or post.image contains '.png' or post.image contains '.gif' %}
            <img src="/assets/img/home/{{ post.image }}" alt="{{ post.title }}" class="project-image">
          {% elsif post.image contains '.mp4' %}
            <video autoplay playsinline loop>
              <source src="/assets/img/{{ post.image }}" type="video/mp4">
            </video>
          {% else %}
            <p>error loading image</p>
          {% endif %}
        {% endif %}
        <div class="title">{% if post.title %}<span class="bold">{{ post.title }}</span>, {% endif %}<span class="italic">{{ post.date | date:"%Y"}}</span></div>
      </a>
      <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      <p class="tags">{% for tag in post.tags %}<button type="button" data-tag="{{ tag | downcase }}" class="tag">{{ tag }}</button> {% endfor %}</p>
    </div>
  {% endfor %}
</div>

<div class="filter" id="filter"></div>

<script type="text/javascript" src="/assets/main.js"></script>

