---
layout: default
---
<div class="right-col">
  <div class="projects">
    {% for post in site.posts %}
      <div class="project-item" data-type="{{ post.type | join:' ' }}" data-tags="{{ post.tags | join:' ' }}" data-roles="{{ post.roles | join:' ' }}">
        <a href="{{ post.exturl }}" rel="noopener" target="_blank">
          {% if post.image contains '.jpg' or post.image contains '.png' or post.image contains '.gif' %}
            <img src="/assets/img/home/{{ post.image }}" alt="{{ post.title }}">
          {% elsif post.image contains '.mp4' %}
            <video autoplay playsinline loop>
              <source src="/assets/img/{{ post.image }}" type="video/mp4">
            </video>
          {% else %}
            <p>error loading image</p>
          {% endif %}
          <p><b>{{ post.title }}</b>, <i>{{ post.date | date:"%Y"}}</i></p>
        </a>
        <p class="excerpt">{{ post.excerpt }}</p>
        <p class="tag role"><b>Role:</b> {% for role in post.roles %} <span>{{ role }}</span> {% endfor %}</p>
        <p class="tag made"><b>Made Using:</b> {% for tag in post.tags %} <span>{{ tag }}</span> {% endfor %}</p>
      </div>
    {% endfor %}
  </div>

  <div class="" id="filter">
  filtering for:
  </div>
</div>

