---
layout: clean
---

<section class="photos">
  {% assign photo_files = site.static_files | where: "photo", true | sort: 'basename' | reverse %}
  {% for photo in photo_files %}
    {% assign currentdate = photo.basename | split: '-' | first %}
    {% if currentdate != date %}
      {% unless forloop.first %}</div></div>{% endunless %}
      <div class="section-container">
      <h1 class="section-title" id="{{ currentdate }}">{{ currentdate }}</h1>
      {% assign date = currentdate %}
      <div class="photo-inner">
    {% endif %}
    {% unless photo.path contains "/sm/" %}
      <picture>
        <img loading="lazy" height="500" width="auto" class="photo lazyload" src="{{ photo.path | replace: photo.name, '' }}sm/{{ photo.name }}" alt="{{ photo.basename }}" data-id="{{ photo.basename }}" data-lg-src="{{ photo.path }}" onclick="lightbox.setImg('{{ photo.path }}')">
      </picture>
    {% endunless %}
  {% if forloop.last %}</div></div>{% endif %}
  {% endfor %}
</section>

<style type="text/css">
  html, body { background-color: #eee; background-image: none; }
</style>

{% include lightbox.html %}