---
layout: default
---

<main>
  {% include header.html %}
  <div class="main-container project">
  {% if page.title %}
    <h1 class="page-title">{{ page.title }}{% unless page.hide_date %}{% if page.date %} – {{ page.date | date:"%Y"}}{% endif %}{% endunless %}</h1>
  {% endif %}
  {% if page.image %}
    <img class="main-image" src="/assets/img/home/{{ page.image }}">
  {% endif %}
    <div class="content-container">
      <div class="content">
        {{ content }}
      </div>
    </div>


  </div>
  {% include footer.html %}

</main>