---
layout: default
---
{% if page.collection == 'ppages' %}
<base href="/assets/img/ppages{{ page.url }}">
{% else %}
<base href="/assets/img{{ page.url }}">
{% endif %}
<main {% if page.width %} class="w-{{ page.width }}"{% else %} class="w-slim" {% endif %}>
{% include header.html %}

<div class="project outer-container">
  <div class="content-container">
    {% unless page.hide_image %}
    {% if page.image_lg %}
      <img class="main-image" src="{{ page.image_lg }}">
    {% elsif page.image %}
      <img class="main-image" src="/assets/img{{ page.url }}{{ page.image }}">
    {% endif %}
    {% endunless %}

    <div class="info">
      <div class="info-section info-upper">
        <h1 class="bold page-title">{{ page.title }}</h1>
        {% if page.date and page.collection == 'projects' %}
        <a class="tag" href="/{{ page.collection }}/#y:{{ page.date | date:"%Y" }}" title="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:"%Y" }}</a>
        {% endif %}
      </div>
      {% if page.collection == 'posts' %}
      <div class="info-section">
        <p>{{ page.date | date:'%Y-%m-%d' }}</p>
      </div>
      {% endif %}

      {% unless page.hide_tags %}
      {% if page.tags and page.tags.size > 0 %}
      <div class="info-section tags">
        {% for tag in page.tags %}
          <a href="/{{ page.collection }}/#t:{{ tag | downcase }}" class="tag tag--{{ tag | downcase | replace: ' ', '-' }}"># {{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
      {% endunless %}

      {% unless page.hide_aside %}
      {% if page.links %}
      <div class="info-section">
        {% for link in page.links %}
          <a class="tag tag-yellow" href="{{ link[1] }}">{{ link[0] }}</a>
        {% endfor %}
      </div>
      {% endif %}
      {% endunless %}

    </div class="info">


    <div id="content" class="content">
      {{ content }}
    </div>
  </div>
</div>

{% assign first_tag = page.tags | first %}

<div id="related" class="outer-container">
  <h1>Related</h1>
  {% for tag in page.tags %}
  {% assign posts = site[page.collection] | where_exp: 'item', 'item.tags contains tag' | where_exp: 'item', 'item.url != page.url' | sort: 'date' %}

  {% if posts.size > 0 %}
    <div class="list">
      <h2>{{ tag }}</h2>
      <ul>
      {% for entry in posts reversed %}
        <li class="entry" data-t="{{ entry.tags | join: '|' }}{% if entry.tags.size > 0 %}|{% endif %}{{ entry.title | downcase }}" data-y="{{ entry.date | date: '%Y' }}" data-c="{{ entry.type }}">
          <a href="{% if entry.exturl %}{{ entry.exturl }}{% else %}{{ site.github.url }}{{ entry.url }}{% endif %}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% endfor %}
</div>

{% include footer.html %}

</main>
<div class="lightbox hidden" id="lightbox">
  <img id="lightboxImg" src="#!">
</div>

<script type="text/javascript" src="/assets/js/lightbox.js"></script>
