---
layout: default
---

<a class="screen-reader-shortcut" href="#main-content">
  Skip to main content
</a>

{% if page.collection == 'ppages' %}
  {% assign base = "/assets/img/ppages" %}
{% else %}
  {% assign base = "/assets/img" %}
{% endif %}


<main {% if page.width %} class="w-{{ page.width }}"{% else %} class="w-slim" {% endif %}>
{% include header-small.html %}

<article id="main-content" class="project outer-container">
  <div class="content-container">
    {% unless page.hide_image %}
    {% if page.image_lg %}
      <img class="main-image" src="{{ base }}{{ page.url }}{{ page.image_lg }}">
    {% elsif page.image %}
      <img class="main-image" src="{{ base }}{{ page.url }}{{ page.image }}">
    {% endif %}
    {% endunless %}

    <h1 itemprop="title" class="bold page-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:'%Y-%m-%d' }}</time>

    {% unless page.hide_tags %}
    {% if page.tags and page.tags.size > 0 %}
    <div class="info-section tags">
      {% for tag in page.tags %}
        <a href="/{{ page.collection }}/#t:{{ tag | downcase }}" class="tag tag--{{ tag | downcase | replace: ' ', '-' }}"># {{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% endunless %}

    {% unless page.hide_aside %}
    {% if page.links %}
    <div class="info-section">
      {% for link in page.links %}
        <a class="tag tag-yellow" href="{{ link[1] }}">{{ link[0] }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% endunless %}

    {{ content }}
  </div>
</article>


<div id="related" class="pagination-block outer-container">
  <div class="pagination-container">
    {% if page.next %}
    <a class="pagination-link" href="{{ page.next.url }}">
    ← Next<br>
    {{ page.next.title }}
    </a>
    {% endif %}
  </div>
  <div class="pagination-container">
    {% if page.previous %}
    <a class="pagination-link" href="{{ page.previous.url }}">
      Previous →<br>
      {{ page.previous.title }}
    </a>
    {% endif %}
  </div>
</div>

{% include footer.html %}

</main>

{% include lightbox.html %}